/* body {
    margin: 0;
    font-family: "Cursive";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  } */
  * {
    font-family: "Cursive";
    color: black;
  }
  
  .quii {
    background-color: #f2cb06;
    width: 100%;
    min-height: 760px;
    height: min-content;
    border-radius: 0;
    padding: 20px;
    box-shadow: 10px 10px 42px 5px rgba(235, 76, 3, 0.75);
    display: flex;
    justify-content: space-evenly;
  }
  
  .score-section {
    display: flex;
    font-size: 24px;
    align-items: center;
  }
  
  /* QUESTION/TIMER/LEFT SECTION */
  .question-section {
    width: 100%;
    position: relative;
  }
  
  .question-count {
    margin-bottom: 20px;
    font-size: 22px;
  }
  
  .question-count span {
    font-size: 30px;
  }
  
  .question-text {
    margin-bottom: 20px;
    font-size: 20px;
  }
  
  .timer-text {
    background: rgb(240, 177, 61);
    padding: 100px;
    margin-top: 20px;
    margin-right: 20px;
    border: 5px solid rgb(255, 189, 67);
    border-radius: 15px;
    text-align: center;
  }
  
  /* ANSWERS/RIGHT SECTION */
  .answer-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  button {
    width: 50%;
    font-size: 17px;
    color: black;
    background-color: white;
    border-radius: 7px;
    display: flex;
    padding: 5px;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid black;
    cursor: pointer;
  }
  
  .correct {
    background-color: #2f922f;
  }
  
  .incorrect {
    background-color: #ff3333;
  }
  
  button:hover {
    background-color: #9d9d99;
  }
  
  button:focus {
    outline: none;
  }
  
  button svg {
    margin-right: 5px;
  }