*{
    box-sizing:border-box;
    margin:0;
    font-family:cursive;
}

.btn{
    font-size:30px;
    color:white;
    margin-top:5%;
    margin-left:10%;
    height:100px;
    width:80%;
    background-color:#191970;
    opacity:1;
    border-radius:15px 15px 15px 15px;
    cursor:pointer;
}

.my-chart{
    width: 80%;
  height: auto;
  margin: 0 auto;
}

.my-image{
    size:10px;
}